<div class="row">

    <div ng-controller="authCtrl as auth" class="col-xs-6 col-xs-push-3" style="margin-top: 10%">

        <div class="alert alert-danger" role="alert" ng-repeat="error in errors">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{error}}
        </div>

        <div class="alert alert-success" role="alert" ng-if="regSuccess">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Success:</span>
            {{regSuccess}}
        </div>

        <uib-tabset active="activeJustified" justified="true">
            <uib-tab index="0" heading="Login">

                <form name="loginForm" ng-submit="auth.tryLogin(loginForm.$valid)" novalidate>
                    <div class="form-group">
                        <label>Email address</label>
                        <input name="email" ng-model="auth.loginData.email" type="email" class="form-control" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input name="password" ng-model="auth.loginData.password" type="password" class="form-control" placeholder="Password" required ng-minlength="3">
                    </div>

                    <button  ng-class="{disabled  : loginForm.email.$invalid || loginForm.password.$invalid }" type="submit" class="btn btn-success">Submit</button>
                </form>

            </uib-tab>
            <uib-tab index="1" heading="Register">

                <form name="registerForm" ng-submit="auth.tryRegister(registerForm.$valid)" novalidate>
                    <div class="form-group">
                        <label>First Name</label>
                        <input name="firstName" ng-model="auth.registerData.firstName" ng-minlength="2" ng-maxlength="10" type="text" class="form-control" placeholder="First name" required>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input name="lastName" ng-model="auth.registerData.lastName" ng-minlength="3" ng-maxlength="15" type="text" class="form-control" placeholder="Last name" required>
                    </div>
                    <div class="form-group">
                        <label>Email address</label>
                        <input name="email" ng-model="auth.registerData.email" type="email" class="form-control" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input name="password" ng-model="auth.registerData.password" type="password" class="form-control" ng-minlength="3" placeholder="Password" required>
                    </div>
                    <button ng-class="{disabled  : registerForm.firstName.$invalid || registerForm.lastName.$invalid || registerForm.email.$invalid || registerForm.password.$invalid }" type="submit" class="btn btn-success">Submit</button>
                </form>

            </uib-tab>
        </uib-tabset>


    </div>

</div>